/**
* Global
*/
$body-bg:                           #f9f9f9;
$body-color:                        #656565;
$font-size-base:                    0.96rem;
$font-family-base:                  'Open Sans', sans-serif;
$enable-rounded:                    false;


/**
* Primary colors
*/
$primary:                           #529eb1;
$secondary:                         #358362;
$success:                           #42a764;
$info:                              #527dbd;
$warning:                           #ec8845;
$danger:                            #c43d3d;

/**
* List group
*/
$list-group-item-padding-y:         0.65rem;
$list-group-item-padding-x:         1rem;