<aside id="aside">
  <ul class="list-group">
    <li class="list-group-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/admin/dashboard">Dashboard</a>
    </li>
    <li class="list-group-item" routerLinkActive="active">
      <a routerLink="/admin/categories">Categories</a>
    </li>
    <li class="list-group-item">
      <a href="#">Products</a>
    </li>
    <li class="list-group-item">
      <a href="#">Attributes</a>
    </li>
    <li class="list-group-item">
      <a href="#">Users</a>
    </li>
    <li class="list-group-item">
      <a href="#">Settings</a>
    </li>
  </ul>
</aside>